@charset "utf-8";
/* CSS Document */
.entry_form {
		font: 14px 'Microsoft Yahei',arial,SimSun,sans-serif;
		margin: 0 auto;
		padding: 0px;
		text-align: center;
		color: #555;
		background: #fff;
		padding-top:20px;
	}
.entry_form a { 
    color: #096FB7; 
	text-decoration: none;
}
.entry_form a:hover { 
    text-decoration: underline; 
	cursor:pointer;
}
.entry_form li {
	list-style:none 
}
.entry_form input[type="text"]{
	width:180px;
	height:30px;
	margin:10px;
	padding:2px;
	font-size:14px;
	color: #333333;
}
.entry_form input[type="radio"]{
	width:15px;
	height:15px;
	padding:2px;
}
.entry_form li span{
	width:98px;
	display:block;
	float:left;
	text-align:right;
	position:relative;
	top:18px;
}
.entry_form button{
	width:60px;
	height:25px;
	margin:18px;
	margin-top:30px;
	margin-bottom:30px;
	border:1px solid #999;
}
.addLine{
	width:50px;
	height:20px;
	margin-left:180px;
}
.submitForm{
	display:block;
	width:400px;
}
.submitCenter{
	margin:0 auto;
}
.submitForm li{
	float:left;
}
.submitForm input[type="text"]{
	width:258px;
}
.submitForm textarea{
	width:265px;
	height:150px;
	margin:10px 10px;
	font-size:14px;
}
.formButton{
	margin-left:140px;
	margin-top:20px;
}
.douButton{
	margin-top:20px;
	margin-left:110px;
}
.douButton button{
	margin-right:10px;
	margin-top:20px;
}
.countEn{
	color:#333333;
	font-size:18px;
	border-bottom: 1px dashed #00b945;
	margin-bottom:20px;
	padding-bottom:20px;
}
.countEn span{
	color:#fc3d3d;
	font-size:18px;
	font-weight:bold;
}
.countEn a{
	color:#00b945;
}
.enTitle{
	font-size:16px;
	border-bottom:1px solid #00b945;
	padding:4px 0;
}
.theForm{
	border:1px solid #00b945;
	width:450px;
	padding-bottom:20px;
}
.entryTable{
	margin:0 auto;
	margin-bottom:40px;
	min-height:440px;
}
.entryTable table{
	font-size:16px;
	margin:0 auto;
	border-top:1px solid #00b945;
	border-left:1px solid #00b945;
}
.entryTable tr{
	border-bottom:1px solid #00b945;
}
.entryTable td{
	border-right:1px solid #00b945;
	padding:10px;
	max-width:400px;
}
.firstTr{
	background-color:#37dc74;
	border:1px solid #009b45;
	color:#ffffff;
	font-size: 16px;
    letter-spacing: 2px;
	text-align:center;
}
.firstTr td{
	border:1px solid #009b45;
}